@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: #fff;
  background: #000
  font-family: Arial, Helvetica, sans-serif;
}

main {
  height: 100%
}
.grid {
 

  width: 100%;
  position: relative;
flex-direction: column;
}
.grid__item {
height:100vh;
  overflow: visible;
}
.grid__item img {
  position: absolute;
}
.test-image {


}

